{% extends 'base.html' %}
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% block head %}
    {{ super() }}
    {% block title %}
        My Calendar
    {% endblock %}
{% endblock head %}

{% block content %}
    <div class="row" style="margin: auto; height: 100%">
        {% block sidebar %}
            <div class="col col-lg-2 bg-dark text-primary min-vh-100">
                <div id="sidebar">
                    <div class="sidebar-header">
                        {% block view %}
                            <h3>Base Calendar</h3>
                        {% endblock %}
                        {% block side_content %}
                        {% endblock side_content %}
                    </div>
                </div>
            </div>
        {% endblock sidebar %}
        <div class="col col-lg">
            {% block calendar %}
            {% endblock calendar %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}