<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">CalendarPlusPlus</a>
        {% if g.user %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a id = "day" class="nav-link"  href="{{ url_for('calendar.day') }}">Day</a>
                    <a id = "week" class="nav-link" href="{{ url_for('calendar.week') }}">Week</a>
                    <a id = "month" class="nav-link" href="{{ url_for('calendar.month') }}">Month</a>
                    <a id = "year" class="nav-link" href="{{ url_for('calendar.year') }}">Year</a>
                </div>
            </div>
            <div class="navbar-nav d-flex">
                <a class="nav-link me-2" href="{{ url_for('auth.logout') }}">Log Out</a>
            </div>
        {% endif %}
    </div>
</nav>