<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">CalendarPlusPlus</a>
        {% if g.user %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('calendar.day') }}">Day</a>
                    <a class="nav-link " href="{{ url_for('calendar.week') }}">Week</a>
                    <a class="nav-link" href="{{ url_for('calendar.month') }}">Month</a>
                    <a class="nav-link" href="{{ url_for('calendar.year') }}">Year</a>
                </div>
                <span class="navbar-text">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                </span>
        {% endif %}
    </div>
</nav>