<div class="justify-content-between mt-3">
    <form method="POST">
        <button type="submit" name="move" value="prev" class="btn btn-light float-start" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Previous" id="prev">
            <i class="bi bi-chevron-left" style="font-weight: bolder; font-size: 1.5rem"></i>
        </button>
        <button type="submit" name="move" value="next" class="btn btn-light float-end" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Next" id="next">
            <i class="bi bi-chevron-right" style="font-weight: bolder; font-size: 1.5rem"></i>
        </button>
    </form>
</div>