{% extends 'base_cal.html' %}
{% block head %}
    {{ super() }}
    <title>
        {%block title%}
             Day
        {%endblock title%}
    </title>
{%endblock head %}
{% block view %}
    <h3 class="text-center mb-4">
        Day
    </h3>
{% endblock %}
{% block side_content %}
{{ super() }}
{%  endblock side_content %}
{% block calendar %}
<div class="container-md my-2">
    {% block arrowhead %}
        {{ super() }}
    {% endblock arrowhead %}
    {% block date %}
        <h1 id="date" class = text-center>{{ cal.month_name[month] }} {{ day }} {{ year }}</h1>
    {% endblock date %}
    <div class="calendar-content mt-3">
        Show Full Calendar
        <table id="calendar-table" class="table table-bordered table-hover">
            <thead class="table-primary text-center">
                <tr>
                    <th><h3>Time</h3></th>
                    <th><h3>Events</h3></th>
                </tr>
            </thead>
            <tbody>   
                    {% for i in range(24) %} 
                        <tr>
                            {% if i < 10%}
                                <td class="text-center" style = "width: 5em;"> 0{{i}}:00</td>
                            {% else %}
                                <td class="text-center" style = "width: 5em;"> {{i}}:00</td>
                            {% endif %}
                            <td class="cells">events go here</td>
                        </tr>  
                    {% endfor %}
             </tbody>
        </table>
    </div>
</div>
{% endblock calendar %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/navbar/highlight.js')}}"></script>
<script>makeActive("day")</script>
{% endblock scripts %}