{% extends 'base_cal.html' %}
{% block head %}
    {{ super() }}
    <title>
        {%block title%}
             Day
        {%endblock title%}
    </title>
{%endblock head %}
{% block view %}
    <h3 class="text-center mb-4">
        Day
    </h3>
{% endblock %}
{% block side_content %}
{{ super() }}
{%  endblock side_content %}
{% block calendar %}
<div class="container-md my-2">
    {% block arrowhead %}
        {{ super() }}
    {% endblock arrowhead %}
    {% block date %}
        <h1 id="date" class = text-center>{{ cal.month_name[month] }} {{ day }} {{ year }}</h1>
    {% endblock date %}
    <div class="calendar-content mt-3">
        Show Full Calendar
        <table id="calendar-table" class="table table-bordered table-hover">
            <thead class="table-primary text-center">
                <tr>
                    <th><h3>Time</h3></th>
                    <th><h3>Events</h3></th>
                </tr>
            </thead>
            <tbody class = "text-center" id = "table-body">
                {% for hour in range(24) %}
                    <tr class = cells-row id = {{hour}}>
                        {% if hour < 10%}
                            <td style = "width: 0.25em;" id = {{hour}}TimeCol> 0{{hour}}:00</td>
                        {% else %}
                            <td style = "width: 0.25em;" id = {{hour}}TimeCol> {{hour}}:00</td>
                        {% endif %}
                        <td class = "cells" id = {{hour}}EventsCol data-bs-target="#event-modal" data-bs-toggle="modal">
                            {% for event in events %}
                                {% if event[4] == hour and event[3] == day and
                                    event[2] == month and event[1] == year%}
                                    <div class="events small text-wrap bg-info bg-opacity-50 rounded-pill"
                                    id="cell:{{ day }}-{{ month }}-{{ year }}-{{ hour }}">START: {{event[0]}}</div>
                                {% elif event[9] == hour and event[8] == day and
                                    event[7] == month and event[6] == year %}
                                    <div class="events small text-wrap bg-info bg-opacity-50 rounded-pill"
                                    id="cell:{{ day }}-{{ month }}-{{ year }}-{{ hour }}">END: {{event[0]}}</div>
                                {%endif%}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>
</div>
{% block modals %}
    {{ super() }}
{% endblock modals %}
{% endblock calendar %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/navbar/highlight.js')}}"></script>
<script>makeActive("day")</script>
{% endblock scripts %}