<div class="modal fade" id="event-dialog-modal" aria-hidden="true" aria-labelledby="event-dialog-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="event-dialog-modal-title">Add or Update Events</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="event-dialog-add" data-bs-target="#event-modal" data-bs-toggle="modal">Add New Event</button>
        <button class="btn btn-primary" id="event-dialog-update" data-bs-target="#event-modal" data-bs-toggle="modal">Update Event</button>
      </div>
    </div>
  </div>
</div>