{% extends 'base_cal.html' %}


{% block head %}
    {{ super() }}
    <title>
        {%block title%}
             Month
        {%endblock title%}
    </title>
{% endblock head %}
{% block view %}
    <h3 class="text-center mb-4">
        Month
    </h3>
    <p class="text-center text-light">
        {{ month }} {{ year }}
    </p>
    <div>
        <table id="calendar-table" class="table">
            <thead class="text-light">
            <tr>
                {% for day in header %}
                    <td class="text-center"> {{ day }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in day %}
                <tr>
                    {% for cell in row %}
                        {% if cell != 0 %}
                            <td class="text-center text-light">{{ cell }}</td>
                        {% else %}
                            <td class="text-center" ></td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 class="text-center text-light">
        Options
    </h3>
{% endblock %}
{% block side_content %}
    {{ super() }}
{%  endblock side_content %}
{% block calendar %}
    {% block arrowhead %}
        {{ super() }}
    {% endblock %}
    <div class="container-md my-2">
      <div class="calendar-header">
            <div class="row header-title">
                <div class="header-text my-3">
                    <h1 id="date" class="text-center"> {{ month }}, {{ year }}</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <table id="calendar-table" class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        {% for day in header %}
                            <td class="text-center" style="padding: 1em"> {{ day }}</td>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody>
            {% for row in day %}
                <tr>
                    {% for cell in row %}
                        {% if cell != 0 %}
                            <td class="cells text-center" data-bs-target="#event-modal" data-bs-toggle="modal"
                                style="padding: 3em">{{ cell }}</td>
                        {% else %}
                            <td class="cells text-center" data-bs-target="#event-modal" data-bs-toggle="modal"
                                style="padding: 3em"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% block modals %}
    {{ super() }}
{% endblock modals %}
{% endblock calendar %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'javascript/navbar/highlight.js')}}"></script>
    <script>makeActive("month")</script>
{% endblock scripts %}