{% extends 'base_cal.html' %}

{% block head %}
    {{ super() }}
    <title>
        {%block title%}
             Month
        {%endblock title%}
    </title>
{% endblock head %}
{% block view %}
    <p class="text-center text-light">
        {{ month }} {{ year }}
    </p>
    <div class="container">
        <table id="calendar-table" class="table">
            <thead class="text-light">
            <tr>
                {% for day in header %}
                    <td class="text-center"> {{ day }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in day %}
                <tr>
                    {% for cell in row %}
                        {% if cell != 0 %}
                            <td class="text-center text-light">{{ cell }}</td>
                        {% else %}
                            <td class="text-center" ></td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block side_content %}
    {{super()}}
{%  endblock side_content %}
{% block calendar %}
    <div class="container-md my-2">
        {% block arrowhead %}
            {{ super() }}
        {% endblock arrowhead %}
        {% block date %}
            <h1 id="date" class="text-center"> {{ month }} {{ year }}</h1>
        {% endblock date %}
        <div class="container">
            <table id="calendar-table" class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        {% for day in header %}
                            <td class="text-center" style="padding: 1em"> {{ day }}</td>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody>
            {% for row in day %}
                <tr>
                    {% for cell in row %}
                        {% if cell != 0 %}
                            <td class="cells text-center" style="padding: 3em">{{ cell }}</td>
                        {% else %}
                            <td class="cells text-center" style="padding: 3em"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock calendar %}
{% block scripts %}
    {{ super() }}
    <script>makeActive("month")</script>
{% endblock scripts %}