<p class="text-center text-light">
    {{ cal.month_name[month] }} {{ year }}
</p>
<div>
    <table id="calendar-table" class="table">
        <thead class="text-light">
        <tr>
            {% for day in header %}
                <td class="text-center"> {{ day }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in mdays %}
            <tr>
                {% for cell in row %}
                    {% if cell != 0 %}
                        <td class="text-center text-light">{{ cell }}</td>
                    {% else %}
                        <td class="text-center" ></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
